<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 35px" class="fas fa-shipping-fast">&nbsp; </i>
      <strong style="font-size: 25px">Ecommerce</strong>
      <div class="form-group">
        <input
          style="width: 600px"
          type="text"
          class="form-group"
          placeholder="Search Products"
          id="form"
        />
        <span class="fas fa-search search-icon"></span>
      </div>

      <button routerLink="cart" class="btn btn-primary" id="btnCart">
        <i style="font-size: 30px" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px" class="badge bg-danger">
          {{ totalItem }}
        </div>
      </button>
    </div>
  </div>
</header>
